# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# vim swap files
*.swp

# Eclipse project files
.cproject
.project

# PL1 targets
create_random_file
get_histogram
