*.hi
.hsenv
mkunsorted
unsorted.data.txt
.shelly
msort
unsorted.huge.txt
leveldb-haskell-0.2.0
bsort
unsorted.small.txt
sorted.data.txt
sorted.small.txt
unsorted.medium.txt
sorted.medium.txt
collect_K
collect_mem
collect_file
collect_btree
*.aux
*.hp
*.prof
*.ps
