include
lib
tmp
test_serializer.dSYM
libgtest.a
gtest/
test_serializer
test_pagemanager
test_heapmanager
tags
write_fixed_len_pages
read_fixed_len_pages
nbproject
*.test.heap
heapfile2csv
.clang_complete
csv2heapfile
heapfile2csv
query
test_*.dSYM
heap.bin
csv.out.txt
*.heap
*.csv
csv2idxfile
query_idx_heapfile
